<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Home Page Meteo</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1>Coucou, si tu arrives içi tu es au bon endroit jeune DI</h1>
        <h3>Nous te reverrons Juju!</h3>
        <h6>Et toi loic c'est pas grave si on ne te vois plus</h6>
        <a href="http://127.0.0.1:8000/swagger/" target="_blank">Clique içi pour aller voir le Swagger ! </a>
        <br>
        <a href="http://127.0.0.1:8000/api/v1/meteo" target="_blank">Clique içi pour aller voir les données ! </a>
        <br>
        <a href="https://github.com/Khannasucre/cesi-cubes-iot">
            <img src="{{ url_for('static', filename='images/githublogo.png') }}" alt="GitHub Logo" width="100" height="100"/>
          </a>
          
          
    </body>
</html>