<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Home Page Meteo</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1>Bonjour, si tu arrives ici tu es au bon endroit jeune DI</h1>
        <br>
        <br>
        <br>
        <br>
        <a href="http://10.244.128.66:8000/swagger/" target="_blank">Clique ici pour aller voir le Swagger ! </a>
        <br>
        <br>
        <br>
        <br>
        <a href="http://10.244.128.66:8000/meteo/" target="_blank">Clique ici pour aller voir les données reçues dans un tableau ! </a>
        <br>
        <br>
        <br>
        <br>
        <a href="http://10.244.128.66:8000/api/v1/meteo/" target="_blank">Clique ici pour aller voir les données API ! </a>
        <br>
        <br>
        <br>
        <br>
        <a href="https://github.com/Khannasucre/cesi-cubes-iot">
            <img class="github-logo" src="{{ url_for('static', filename='images/githublogo.png') }}" alt="GitHub Logo" width="100" height="100"/>
          </a>
          
          
    </body>
</html>
