<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Home Page Meteo</title>
    </head>
    <body>
        <h1>Coucou, si tu arrives içi tu es au bon endroit jeune DI</h1>
        <h3>Nous te reverrons Juju!</h3>
        <h6>Et toi loic c'est pas grave si on ne te vois plus</h6>
        <a href="http://127.0.0.1:8000/swagger/" target="_blank">Click here to go to the swagger ! </a>
        <br>
        <a href="http://127.0.0.1:8000/api/v1/meteo" target="_blank">Click here to see all the data ! </a>
        <br>
        <a href="https://github.com/Khannasucre/cesi-cubes-iot"><img src="githublogo.png"></a>
    </body>
</html>